name: Deploy Infrastructure and App

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  TF_WORKING_DIR: './aws-ecs-infra/env/staging'
  APP_WORKING_DIR: './todo-app/app'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy to AWS
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init

      - name: Terraform Apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -auto-approve

      - name: Export Terraform Outputs
        working-directory: ${{ env.TF_WORKING_DIR }}
        id: tf-outputs
        run: |
          echo "ECR_REPO_URL=$(terraform output -raw ecr_repository_url)" >> $GITHUB_ENV
          echo "ECS_CLUSTER_NAME=$(terraform output -raw ecs_cluster_name)" >> $GITHUB_ENV
          echo "ECS_SERVICE_NAME=$(terraform output -raw ecs_service_name)" >> $GITHUB_ENV

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        working-directory: ${{ env.APP_WORKING_DIR }}
        run: |
          IMAGE_TAG=${{ github.sha }}
          REPO_URL=${{ env.ECR_REPO_URL }}
          
          echo "Building image for $REPO_URL..."
          
          docker build -t $REPO_URL:latest -t $REPO_URL:$IMAGE_TAG .
          
          docker push $REPO_URL:latest
          docker push $REPO_URL:$IMAGE_TAG

      - name: Update ECS Service
        run: |
          aws ecs update-service \
            --cluster ${{ env.ECS_CLUSTER_NAME }} \
            --service ${{ env.ECS_SERVICE_NAME }} \
            --force-new-deployment